@import '~@fluentui/react/dist/sass/References.scss';

.wpFrequentlyAccessedSites {
  overflow: hidden;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }

  ;
  margin-right: 12.5%;
  margin-top: 20%;
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.wpFrequentlyAccessedSites ul {
  list-style-type: none;
  padding: 0;
}

.wpFrequentlyAccessedSites ul li {
  color: #009BDA;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #009BDA;
  padding: 10px;
  border-radius: 5px;
}

.wpFrequentlyAccessedSites ul li a {
  color: #009BDA;
  text-decoration: none;
  vertical-align: middle;
}

.icFaq {
  float: right;
  cursor: pointer;
}

.titleFaq {
  font-weight: 700;
  font-size: 30px;
  margin: 0px;
  color: #004693;
  font-family: 'Montserrat';
  line-height: 37px;
}

.icFaqone {
  margin-right: 25px;
}

//page css
div[data-automation-id*='pageHeader'] {
  display: none;
}

div[class*='CanvasSection'] {
  padding: 0 !important;
  margin: 0 !important;
}

div[data-automation-id*='CanvasControl'],
div[data-automation-id*='CanvasZone'] {
  padding: 0 !important;
  margin: 0 !important;
}

div[id*='CommentsWrapper'] {
  display: none;
}

div[data-automation-id*='CanvasZone-SectionContainer'] {
  min-width: 100% !important;
}